*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main_content{
    font-size: 50px; 
    text-align: center;   
    margin-top: 5em;
}


.main__text{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip:text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}

.main_content span{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip:text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}


/* home page button */


.main__btn{
    font-size: 1.8rem;
    background:#833ab4;
    background:-webkit-linear-gradient(to right,#fcb045,#fd1d1d,#833ab4 );
    background: linear-gradient(to right,#fcb045,#fd1d1d,#833ab4 );
    padding: 20px 60px;
    border:none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}


.main__btn:after{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.5s;
    border-radius: 4px;
}


.main__btn:hover{
    color: #fff;

}

.main__btn:hover:after{
    width: 100%;
}


