<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel = "icon" href = 
"https://image.flaticon.com/icons/png/512/2268/2268350.png" 
        type = "image/x-icon">
    {% block head %} {% endblock %}
</head>
<body>
    <!--navbar of the site in every window -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">Try investing</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="{{ url_for('index') }}" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{{ url_for('invest') }}" class="navbar__links" id="invest-page">Invest</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="navbar__btn">
                            <a href="{{ url_for('logout') }}" class="button" id="logout">logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__item">
                            <a href="{{ url_for('login') }}" class="navbar__links" id="login-page">Login</a>
                        </li>
                        <li class="navbar__btn">
                            <a href="{{ url_for('SignUp') }}" class="button" id="signup">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
        </div>
    </nav>


    
    {% block body %} {% endblock %}

    <script src="{{url_for('static', filename='base.js')}}"></script>
</body>
</html>