{% extends 'base.html' %}



{% block head %}
    <title>Invest</title>
{% endblock %}




{% block body %}
    <button><a href="{{ url_for('add_coin') }}">Click me</a></button>


    
    <h1>{{ cu_user }}</h1>
    

    {% for value in values %}
        <h1>{{ value[1] }}: {{ value[0] }}kr</h1>
    {% endfor %} 
    <br>
    <h1>Total: {{ total }}</h1>

    {% if profit%}
        <h1>Profit: {{ income }}kr</h1>
    {% else %}
        <h1>Loss: {{ income }}kr</h1>
    {% endif %}
{% endblock %}
